.login{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100vh;
          width: 100%;
}

.login img{
          object-fit: contain;
          width: 500px;
          margin-bottom: 50px;
}

form{
          display: flex;
          flex-direction: column;
          align-items: center;
}

.login form input{
          margin-bottom: 20px;
          padding: 16px 20px;
          border-radius: 5px;
          font-size: 15px;
          background: #e1e9ee;
          outline: none;
          border: none;
          width: 300px;
}

.login__signinButton{
          padding: 10px 50px;
          border: none;
          outline: none;
          border-radius: 5px;
          font-size: 14px;
          cursor: pointer;
          margin-bottom: 20px;
          background: #2867B2;
          color: white;
          margin-top: 20px;
}

.login__signinButton:hover{
          background: #2866b2d7;
}

.login p{
         font-size: 14px;
}

.login span{
          color: #2866b2d7;
          margin-left: 5px;
          cursor: pointer;
}

.login span:hover{
          text-decoration: underline;
}

form input:nth-child(3){
          background: #2866b251;
}

form input:nth-child(4){
          background: #2866b251;
}